---
- name: Upgrade apt packages
  apt: upgrade=yes
       update_cache=yes
  sudo: yes

- name: Install base packages
  apt: pkg={{item}} state=latest
  sudo: yes
  with_items:
    - autoconf
    - automake
    - libtool
    - make
    - build-essential
    - python-software-properties
    - nodejs
    - curl
    - postgresql
    - postgresql-client
    - postgresql-contrib
    - nfs-common
    - libssl-dev
    - libxml2-dev
    - libxslt1-dev
    - libpq-dev
    - libcurl3
    - libcurl3-gnutls
    - libcurl4-openssl-dev
    - uuid-dev
    - git
    - ntp
    - vim
    - zsh
